<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>当前时间：{{currentTime | date: 'y-M-d HH:mm:ss'}}</p>
  <ion-list>
    <ion-list-header>最近消息</ion-list-header>
    <ion-item *ngFor="let msgObj of msgObjList">
        <ion-icon *ngIf="msgObj.status === 'OK'" name="checkmark-circle-outline" item-start></ion-icon>
        <ion-icon *ngIf="msgObj.status !== 'OK'" name="close-circle" item-start></ion-icon>
        <p>{{msgObj.serverName}} &nbsp;&nbsp; {{msgObj.msgShort}}</p>
        <p>{{msgObj.reportDate | date: 'y-M-d HH:mm'}}</p>
        <button ion-button round item-end (click)="msgDetail(msgObj)">详细</button>
    </ion-item>
  </ion-list>
</ion-content>
