<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>当前时间：{{currentTime | date: 'y-M-d HH:mm:ss'}}</p>
  <ion-list>
    <ion-list-header>最近消息</ion-list-header>
    <ion-item *ngFor="let msgObj of msgObjList">
        <ion-icon *ngIf="msgObj.status === 'OK'" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="msgObj.status !== 'OK'" name="close-circle"></ion-icon>
        &nbsp;{{msgObj.serverName}} &nbsp;&nbsp; {{msgObj.msgShort}}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{msgObj.reportDate | date: 'y-M-d HH:mm'}} &nbsp;&nbsp;
          <button type="button" (click)="msgDetail(msgObj)"><ion-icon name="arrow-dropright"></ion-icon></button>
        </p>
    </ion-item>
  </ion-list>
</ion-content>
